<h3>Order Shipped</h3>

<p>Your order has been shipped recently.</p>

<table border="0" cellspacing="5" cellpadding="5">
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
  <%= render @order.line_items %>
</table>